// Colors variables
$white: #fff;
$dark_grey: #34383e;
$light_grey: #c4c9d1;
$dark_blue: #3f5065;
$gold: #dda11d;
$light_gold: #b1821a;
$red: #be2d2d;

// Breakpoint variables
$phone: 20em;
// $phone_wide: 30em;
$small_tablet: 37.5em;
// $tablet: 48em;
$desktop: 62em;

// Duration variables
$n1: .5s;
